doctype html

html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    link(rel="stylesheet" href="/login.css")
    title Signin page
  body
    .main 
      a(href="/")
        img(src="./images/logo.jpg", alt="" style="height: 70px; width: 100px; margin-left:37%").logo 
      p(align="center").sign Sign up 
      form(action="").form1
          input(type="text" align="center" placeholder="Username").un 
          input(type="password" align="center" placeholder="Password").pass
          a.submit(href="#" align="center") Sign in
          p.forgot(align="center") 
            a(href="#") Forgot Password? 
          p.register(align="center") 
            a(href="/register") Don't have an account?