doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Sales Management Website
    link(rel="stylesheet" href="/css/manage/category/main.css")
    block styles
  body
    header(class="header")
      .container
        h1 Sales Management Website
        nav
          ul(class="nav-menu")
            li: a(href="/manage/manager/login", class="nav-link") Login
            li: a(href="/manage/manager/signup", class="nav-link") Register
            li: a(href="/manage/category", class="nav-link") Categories
            li: a(href="/manage/item", class="nav-link") Products
            li: a(href="/manage/order", class="nav-link") Orders
            li: a(href="/manage/vouchers", class="nav-link") Vouchers
            li: a(href="/manage/flashsale", class="nav-link") Flash Sale

    main
      .container
        block content

    footer
      .container
        p &copy; 2024 Sales Management Website
