doctype html

html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    link(rel="stylesheet" href="../../css/onlineStore/login.css")
    title Login page
  body
    .main 
      a(href="/")
        img(src="../images/logo.jpg", alt="" style="height: 70px; width: 100px; margin-left:37%").logo 
      p(align="center").sign Sign up 
      form(method="POST").form1
          input(type="text" align="center" placeholder="Username" name="username", required).un 
          input(type="password" align="center" placeholder="Password" name="password", required).pass
          button(type="submit").submit Sign in
          p.forgot(align="center") 
            a(href="#") Forgot Password? 
          p.register(align="center") 
            a(href="../user/register") Don't have an account?