doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Sign Up Page
    link(rel="stylesheet", href="../../css/onlineStore/register.css")
  body
    .container
      a(href="/" style="margin-left: 149px;") 
        img(src="../images/logo.jpg", alt="" style="height: 70px; width: 100px;").logo 
      .signup-form
        h2 Sign Up
        form(method="POST" id="signupForm")
          .form-group
            label(for="username") Username:
            input(type="text", id="username", name="username", required)
          .form-group
            label(for="email") Email:
            input(type="email", id="email", name="email", required)
          .form-group
            label(for="password") Password:
            input(type="password", id="password", name="password", required)
          .form-group
            label(for="confirm-password") Confirm Password:
            input(type="password", id="confirm-password", name="passwordVerity", required)
          button(type="submit") Sign Up
          p.forgot(align="center")  
            a(href="../user/login") Have an account?
    
