extends ../manageMain.pug

block styles
  link(rel="stylesheet" href="../../../css/manage/item/createItem.css")

block content
  h2 Add New Product

  form(method="POST", enctype="multipart/form-data", class="form-container")
    .form-group
      label(for="name") Product Name:
      input(type="text", id="name", name="name", required)

    .form-group
      label(for="description") Description:
      textarea(id="description", name="description", rows="4", required)

    .form-group
      label(for="importPrice") Import Price:
      input(type="number", id="importPrice", name="importPrice", step="0.01", min="0" required)

    .form-group
      label(for="purchasePrice") Purchase Price:
      input(type="number", id="purchasePrice", name="purchasePrice", step="0.01", min="0" required)

    .form-group
      label(for="inventoryQuantity") Inventory Quantity:
      input(type="number", id="inventoryQuantity", name="inventoryQuantity", step="0.01", min="1" required)

    .form-group
      label(for="weight") Weight (kg):
      input(type="number", id="weight", name="weight", step="0.01", min="0" required)

    .form-group
      label(for="image") Image:
      input(type="file", id="image", name="image")

    .form-group
      label(for="category_type") Category:
      select(id="category_type", name="category_type", required)
        option(value="") -- Select a category --
        each category in categories
          option(value=category_name)= category.category_name

    .form-group
      button(type="submit") Add Product

  p
    a(href=`/manage/item`) Back to Product List